name: Run PHPUnit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  phpunit:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code from GitHub
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Setup PHP environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"

      # Step 3: Install Composer dependencies in your project folder
      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist
        # working-directory: git-implementing-test

      # Step 4: Run PHPUnit tests in your project folder
      - name: Run PHPUnit
        run: vendor/bin/phpunit
        # working-directory: git-implementing-test

      # Step 4: Run PHPUnit tests (Unit tests only in CI)
      # - name: Run PHPUnit (Unit tests only)
      #   run: vendor/bin/phpunit -c phpunit.ci.xml

